@charset "utf-8"
@import "../node_modules/nib/lib/nib/*"

normalize-css()

_dark = #323b43
_light = #f4f7f9

html
  height 100%
body
  font-family "Open Sans", arial, "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif
  color _dark
  background _light
  height 100%

.g-header
  background _dark
  height 20px
  position absolute
  width 100%
  top 0
  left 0
  h1
    margin 0
    font-size 12px
    text-indent .5em
    font-weight normal
    a
      color _light
      text-decoration none

.container
  height 100%

.app
  height 100%
  padding-top 20px
  box-sizing border-box

.rmd-wrapper
  height 100%

.rmd
  overflow hidden
  height 100%

.editor-wrapper
  float left
  width 50%
  height 100%
  textarea
    border 0
    width 100%
    height 100%
    box-sizing border-box
    padding 1em
    outline none

.preview-wrapper
  float left
  width 50%
  box-sizing border-box
  padding 1em
  height 100%
  overflow auto

.preview-content
  & > div > span > *:first-child
    margin-top 0

  blockquote
    border-left 4px solid lighten(_dark, 75%)
    padding-left 1em
    color lighten(_dark, 75%)
  pre
    background _dark
    padding .5em
    code
      padding 0
  code
    background _dark
    padding .2em .5em
    color _light
    font-family "Source Code Pro", Menlo, Consolas, "Courier New", monospace
    line-height 1.5
  table
    width 100%
  thead
    tr
      color _light
      background lighten(_dark, 75%)
    th
      font-weight normal
  tbody
    tr:nth-child(even)
      background lighten(_light, 50%)
  tr
    line-height 2
  ul
    list-style circle
  ol
    list-style upper-roman

@media only screen and (max-width: 768px)
  .app
    padding-top 0
  .rmd
    overflow visible
  .editor-wrapper
    float none
    width auto
    padding-top 20px
  .preview-wrapper
    float none
    width auto
    height 100%
